@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
 }
 
 :root{
   --bg-color:#242121;
   --second-bg-color:#69656b;
   --text-color:white;
   --main-color:#358ed6;
   --h1-font-size:1.5rem;
   --h3-font-size:1.125rem;
   --font-medium:500;
   --font-bold:600;
   
   --z-fixed:10;
   --z-modal: 100;

   --mb-0-25:.25rem;
   --mb-0-5:.5rem;
   --mb-0-75:.75rem;
   --mb-1:1rem;
   --mb-1-5:1.5rem;
   --mb-2:2rem;
   --mb-2-5:2.5rem;
   --mb-3:3rem;
 }
 html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
 }
 body {
   background: var(--bg-color);
   font-family: "Poppins", sans-serif;
   color: var(--text-color)
 }
.container{
   
   margin-left: auto;
   margin-left: auto;
}
 .header {
    background-color: #1d1213;
    border-bottom: 1px solid #ddd;
    padding: 3rem 9%;
    position: fixed;
    width: 100%;
    min-height: 5vh;
    /*max-height: 10vh;*/
    top: 0;
    left: 0;
    filter: drop-shadow(10px);
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 150;
 }
 .button{
   display: inline-flex;
   align-items:center;
   column-gap: .5rem;
   background-color: var(--second-bg-color);
   color: var(--main-color);
   padding: .75rem 1.4rem;
   border-radius: .25rem;
   font-weight: var(--font-medium);
   position: relative;
   z-index: 15;
   transition: .4s;
   font-size: 1.5rem;
   cursor: pointer;
 }
 .button:hover{
   background-color: var(--main-color);
   color: #fff;
 }
 .button::after{
   position: absolute;
   content: '';
   left:0;
   top:0;
   width: 100%;
   height: 100%;
   background-color: va(--bg-color);
   z-index: -1;
   transform-origin: center;
   transform: scale(0);
   border-radius: .25rem;
   transition: .4s;
 }

 .button:hover::after{
   transform: scale(1);
   z-index: 15;
   
 }
 .navigation a{
   font-size: 1.8rem;
   color: var(--text-color);
   margin-left: 4rem;
   font-weight: 500;
   transition: 0.3s ease;
   border-bottom: 3px solid transparent;
}
/*
.section{
   padding: 6.5rem 0 2rem;
}*/
.section_title{
   text-align: center;
   font-size: 3.2rem;
   margin-bottom:var(--mb-3);
}
.section_title::before{
   content:attr(data-heading);
   display:block;
   font-size: 1rem;
   font-weight: var(--font-medium);
   color: var(--main-color);
}
.navigation ul{
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex; 
   align-items: flex-start; 
}
.navigation a:hover,
.navigation a.active{
   color: var(--main-color);
   border-bottom: 3px solid var(--main-color)
}
 /*
 .header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   height: 100%;
   margin: 0 auto;
   padding: 0 20px;
}*/

 .logo{
   font-size: 3rem;
   color: var(--main-color);
   font-weight: 800;
   cursor: pointer;
   transition: 0.5s ease;
 }
 .logo:hover{
   transform: scale(1.1);
 }

#menu-icon{
   font-size: 3.6rem;
   color: var(--main-color);
   display:none;
   
}
 html::-webkit-scrollbar{
   width:0.8rem;
 }
 html::-webkit-scrollbar-track{
   background: var(--bg-color);
 }
 html::-webkit-scrollbar-thumb{
   background: var(--main-color);
 }

 .web_title{
   margin-top: 5%;
   position: center;
   text-align: center;
 } 
 .breif_description{
   padding-left: 10%;
   padding-right: 10%;
   margin-top: 2%;
   color: var(--main-color);
 }

 

 .cta-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
 }
 
 .cta-button:hover {
    background-color: #ffff;
    color: #007bff;
 }
 section {
   min-height: 100vh;
   padding: 5rem 9% 5rem;
 }
.cont {
   max-width: 1250px;
   margin-left: auto;
   margin-right: auto;
}
.grid{
   display: gird;
}
 .home{
   background-color: var(--bg-color);
   display:flex;
   justify-content: center;
   align-items: center;
   gap: 8rem;
   background-color: var(--bg-color);
 }
 .home .home-content h1{
   color: var(--main-color);
   font-size: 6rem;
   font-weight: 700;
   line-height: 1.3;
 }
 .home-content h3{
   color: var(--main-color);
   font-size:4rem;
   margin-bottom: 1rem;
   font-weight:700;
   text-align: center;
 }
 span{
   color: var(--main-color);
 }
 .home-img {
   border-radius: 50%;
   width:100vw;
   height:10%;
 }
.home-img img{
   position:relative;
   max-width: 100%; 
   max-height: 100%;
   border-radius: 50%;
   box-shadow: 0 0 25px var(--main-color);
   cursor: pointer;
}
.home-img img:hover{
   transform: scale(1.01);
   filter: drop-shadow(0 0 25px var(--main-color));
}
.home-content p{
   font-size: 1.8rem;
   font-weight: 500;
}
.social-icon {
   display: flex;
   justify-content: center;
}
#first_link{
   margin-left: 1.5rem;
}
.social-icon a{
   display: inline-flex;
   justify-content: center;
   align-items:center;
   width: 4rem;
   height: 4rem;
   background: transparent;
   border: 0.2rem solid var(--main-color);
   font-size: 2rem;
   border-radius: 50%;
   color: var(--main-color);
   margin: 3rem 1.5rem 3rem 0;
   transition: 0.3s ease;
}
.social-icon a:hover{
   color: #333;
   transform: scale(1.3)translateY(-5px);
   background: var(--main-color);
   box-shadow: 0 0 25px var(--main-color);
}
.btn{
   display: inline-block;
   padding: 1rem 2.8rem;
   background: var(--bg-color);
   border-radius: 4rem;
   font-size: 1.6rem;
   color: var(--main-color);
   border: 2px solid var(--main-color);
   letter-spacing: 0.1rem;
   font-weight: 600;
   transition: 0.3s ease;
   cursor: pointer;
   max-height: 50px;
}
.home-links{
   display: flex;
   flex-direction: column; 
   justify-content: center; 
   align-items: center;
   /*position: relative;
   top: 50%; transform: translateY(-50%);*/
   height: 200px;
}
.btn:hover{
   transform: scale(1.03);
   background-color: var(--main-color);
   color: var(--bg-color);
   box-shadow: 0 0 25px var(--main-color);
}
.typing-text{
   font-size: 34px;
   font-weight: 600;
   min-width: 280px;
}
.typing-text span{
   position: relative;
}
.typing-text span::after{
   content: "Software Developer";
   color: var(--main-color);
   animation: words 20s infinite;
  
}
.typing-text span::before{
   content: '';
   background: var(--bg-color);
   position: absolute;
   width: calc(100% +8px);
   height:100%;
   border-left: 3px solid var(--bg-color);
   right:10;
   animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
   to {
      border-left: 3px solid var(--main-color);
   }
}

@keyframes words{
    0%, 20%{
      content:'Software Developer'
    }
    21%, 40%{
      content: 'Full Stack Developer';
    }
    41%, 60%{
      content: 'AI Developer';
    }
    61%, 80%{
      content: 'Web Developer';
    }
    81%, 100%{
      content: 'Game Developer';
    }
}
@keyframes typing{
   10%, 15%,
   30%, 35%,
   50%, 55%,
   70%, 75%,
   90%, 95%{
      width:0;
   }
   5%, 20%,
   25%, 40%,
   45%, 60%,
   65%, 80%, 85%{
      width:calc(100% + 8px)
   }
}

 /*services section */
 .services{
   
 }
 .services-container{
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   gap:2.5rem;
 }
 .service-box{
   background-color: var(--main-color);
   height: 350px;
   border-radius: 3rem;
   cursor:pointer;
   transition: 0.3s ease;
 }
 .service-box:hover{
   background: black;
   color: var(--main-color);
   transform: scale(1.03);
   border: 1px solid var(--main-color);
 }
 .service-box .service-info {
   display:flex;
   flex-direction: column;
   text-align: left;
   max-height: 200px;
   justify-content: center;
   align-items: baseline;
   padding: 5rem;
 }
 .service-info h4{
   font-size: 2.5rem;
   font-weight: 500;
   margin-bottom: 1rem;
 }
 .service-info p{
   font-size: 1.6rem;
   font-weight: 400;
   max-height: 100px;
   margin: auto;
 }

/*experience section */
.experience{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-height: auto;
   padding-bottom: 5rem;
}

.experience .experience-row{
   display: flex;
   flex-wrap: wrap;
   gap:5rem;
}

.experience-row .experience-col{
   flex: 1 1 40rem;
}

.experience-col .title{
   position: relative;
   display: inline-block;
   font-size:2.5rem;
   margin: 0 0 1.5rem 2rem;
}
.experience_title{
   font-size: 2rem;
}

.experience-col .experience-container{
   position: relative;
   border-left:.2rem soild var(--main-color);
}

.experience-container .experience-content{
   position: relative;
   padding-left: 2rem;
}

.experience-container .experience-content::before{
   content:"";
   position: absolute;
   top:0;
   left:-1.1rem;
   width:2rem;
   height:2rem;
   background: var(--main-color);
   border-radius: 50%;
}

.experience-content .content{
   position:relative;
   padding:1.5rem;
   border:.2rem solid var(--main-color);
   border-radius: .6rem;
   margin-bottom: 2rem;
   overflow:hidden;
}

.experience-content .content::before {
   content:"";
   position:absolute;
   top:0;
   left:0;
   width:0;
   height: 100%;
   background:var(--second-bg-color);
   z-index:-1;
   transition: .5s;
}

.experience-content .content:hover::before {
   width:100%;
}
.experience-content .content .year{
   font-size:1.5rem;
   color: var(--main-color);
   padding-bottom:.5rem;
}

.experience-content .content .year i {
   padding-right: .5rem;
}

.experience-content .content h3 {
   font-size: 2rem;
}

.experience-content .content p {
   font-size: 1.6rem;
   padding-top: .5rem;
}
/*experience animation
.animate{
   position: absolute;
   top:0;
   right:0;
   width: 100%;
   height: 100%;
   background: var(--bg-color);
   z-index: 97;
}
.animate.scroll{
   transition: 1s ease;
   transition-delay: calc(.27s /var(--i));
   animation: none;
}
.experience .experience-content .animate.scroll{
   width:105%;
}
.experience.show-animate .animate.scroll,
.experience.show-animate .experience-content .animate.scroll{
   transition-delay: calc(.2.3s  * var(--i));
   width:0;
}
*/
 /* skill page */
 .skills {
   background: var(--second-bg-color);
 }
 .skills .container {
   background: #9fe2bf;
   color: var(--text-color);
   border-radius: 1rem;
   padding: 2rem;
   width: 90%;
   margin:auto;
   margin-top: 2rem;
 }
 .skills .container .row{
   display:grid;
   grid-template-columns: repeat(6, 1fr);
   flex-wrap: wrap;
   gap:1.8rem;
 }
 .skills .container .bar{
   display: inline;
   margin-bottom: 15px;
   padding:10px;
   border-radius:1rem;
   vertical-align: bottom;
   background: var(--bg-color);
   transition: 0.3s ease;
   cursor: pointer;
 }
 .skills .container .bar:hover{
   box-shadow: 0 4px 10px var(--main-color);
   transform: scale(1.03);
 }
 .skills .container .bar .info{
   display:flex;
   vertical-align: bottom;
   flex-direction: column;
   align-items:center;
   gap:1rem;
   margin-top:1rem;
 }
 .skills .container .bar .info span{
   font-size:2rem;
   font-weight: 500;
   margin-left:0.5rem;
 }
 .skills .info img{
   height: 100%;
   width:100%;
 }

 /*About*/
 .heading{
   font-size:6rem;
   text-align: center;
   color:var(--main-color);
 }
 .about{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 1rem;
 }
 .about .about-img{
   border-radius: 50%;
 }
 .about-img img{
   position: relative;
   top: 3rem;
   width: 18vw;
   border-radius: 50%;
   box-shadow: 0 0 25px var(--main-color),
               0 0 50px var(--main-color);
   cursor: pointer;
   transition: 0.4s ease;
 }
 .about-img img:hover{
   box-shadow: 0 0 50px var(--main-color),
               0 0 100px var(--main-color);
 }
 .about-content{
   display:flex;
   flex-direction: column;
   justify-content: center;
   text-align: center; 
   align-items: center;
 }
 .about-content h2{
   font-size: 6rem;
   font-weight: 600;
   margin-top: 3rem;
   text-align: center;
   color: var(--main-color)
 }
 .about-content p {
   font-size: 1.8rem; 
   max-width: 1000px;
   font-weight: 500;
   margin-top: 1rem;
   color:var(--text-color);
 } 
 .about-content .btn{
   margin-top: 2rem;
   width:17rem;
   text-align: center;
   position:relative;
 }

 .about-content .read-more-text {
   display: none; /* Hide extra text initially */
   margin-top: 10px;
   justify-content: space-between; 
 }
 .read-more-text p{
   width: 100%;
 }
 .read-more-text ul{
   display: inline-block;
   width: 50%;
   font-size: 1.8rem; 
   max-width: 1000px;
   font-weight: 500;
   margin-top: 1rem;
   color:var(--text-color);
   list-style-position: inside;
 }
 .list_box{
   display: flex;
 }
 .read-more-text li{
   margin-bottom:1rem; 
 }
 /*Project Section */
 .project_container{
   display: grid;
   grid-template-columns: repeat(3, 330px);
   gap:1.8rem;
   justify-content: center;
   padding-top: 1rem;
 }
 .project_filters{
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: .75rem;
   margin-bottom: 2rem;
 }
 .project_item {
   cursor:pointer;
   color: var(--main-color);
   padding:.25rem .75rem;
   font-weight: 600;
   border-radius: 5rem;
 }
 .project_card {
   background-color: var(--second-bg-color);
   padding: 1.25rem;
   border-radius: .5rem;
   /*overflow: hidden;
   display: flex;*/
   display: flex;
   flex-direction: column; 
   justify-content: flex-start;
   width: auto;
 }
 .project_item-details{
   display:none;
 }
 .project_img{
   border-radius: .5rem;
   margin-bottom:var(--mb-1);
   max-width: 100%;
   /*height: auto;
   display: block;*/
   object-fit: cover; 
   width: 100%; 
   height: 100%; 
   flex-grow: 1;
 }
 .project_title{
   font-size: 1.75rem;
   font-weight: 600;
   margin-bottom: var(--mb-0-5);
 }
 .project_button{
   color:var(--text-color);
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   column-gap: .25rem;
   cursor: pointer;
 }
 .project_button-icon{
   font-size: 1rem;
   transition: .3s;
 }
 .project_button:hover .project_button-icon{
   transform: translateX(.25rem);
 }
 .active-project{
   background-color: var(--bg-color);
   color:var(--main-color);
 }
/*Project Popup*/
.project_popup{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,0.3);
   display:flex;
   justify-content: center;
   align-items: center;
   padding: 0 1rem;
   z-index: 100;
   opacity: 0;
   visibility: hidden;
   transition: .3s;
}

.project_popup.open{
   opacity: 1;
   visibility: visible;
}

.project_popup-inner{
   background-color: var(--second-bg-color);
   width:900px;
   border-radius: .5rem;
   padding: 2.5rem;
   position: relative;
}
.project_popup-content{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   column-gap:3rem;
}
.project_popup-close{
   position:absolute;
   top:1.5rem;
   right:1.5rem;
   font-size: 1.5rem;
   color: var(--text-color);
   cursor: pointer;
}
.project_popup-img{
   border-radius: .5rem;
   width:100%;
   height: 100%;
}
.pp_thumbnail{
   max-height:45vh;
   max-width:45vh;
}
.project_popup-subtitle{
   font-size: 1rem;
   margin-bottom: var(--mb-0-25);
}
.details_title{
   font-size: 1.7rem;
   font-weight: var(--font-medium);
   margin-bottom: var(--mb-1);
}
.details_description{
   font-size: 1.35rem;
   margin-bottom: var(--mb-2);
}
.details_info li {
   margin-bottom: var(--mb-0-75);
   text-transform: capitalize;
   font-size: 1.1rem;
   margin-left: 3vh;
}
.details_info li:last-child{
   margin-bottom: 0;
}

.details_info li span{
   font-weight: normal;
}

.details_info li a {
   text-transform: lowercase;
   color:var(--text-color);
}
 /*contact*/
 .contact_container{
   display: grid;
   grid-template-columns: 300px 340px;
   column-gap: 3rem;
   justify-content: center;
   align-items: center;
 }
.contact_info{
   display: grid;
   row-gap: 1rem;
}

.contact_card{
   background-color: var(--second-bg-color);
   padding:1rem;
   border-radius: .5rem;
   text-align:center;
}
.con_info-icon{
   font-size:1.8rem;
   color: var(--main-color);
   margin-bottom: var(--mb-0-25);
}

.con_info_title,
.con_info_card-data{
   font-size: 1.5rem;
}

.con_info_title{
   font-weight: 500;
}

.con_info_card-data{
   display:block;
   margin-bottom: var(--mb-0-75);
}

.contact_button{
   font-size: 1.4rem;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: .25rem;
   cursor: pointer;
}

.contact_button-icon{
   font-size:1.5rem;
   transition: .3s;
}

.contact_button:hover .contact_button-icon{
   transform: translateX(.25rem);
}

.info_icon{
   font-size: 2.3rem;
}

.textarea{
   font-size: 1.6rem;
}

.form_container{
   position: relative;
   margin-top: .1rem;
   margin-bottom: 1.9rem;
}

.input{
   width:100%;
   border: 2px solid var(--main-color);
   background-color: transparent;
   padding: .6rem 1.2rem;
   color:var(--main-color);
   font-weight: var(--font-medium);
   font-size: 1rem;
   letter-spacing: .5px;
   outline: none;
   border-radius: .50rem;
   transition: .3s;
}

textarea.input{
   padding: .8rem 1.2rem;
   min-height: 140px;
   border-radius: .50rem;
   resize:none;
}

.form_container label{
   position: absolute;
   top: 50%;
   left:1rem;
   transform: translateY(-50%);
   padding:0 .4rem;
   color: var(--main-color);
   font-size: 1rem;
   font-weight: var(--font-medium);
   pointer-events: none;
   z-index: 100;
   transition: .5s;
}

.form_container.textarea label{
   top:1rem;
   transform: translateY(0);
}

.form_container span{
   position: absolute;
   top:0;
   left: 25px;
   color:transparent;
   transform: translateY(-50%);
   font-size: 1rem;
   padding: 0 .4rem;
   pointer-events: none;
   z-index: 50;
}
.form_container span::before,
.form_container span:after{
   content:"";
   position: absolute;
   width:50%;
   color: var(--main-color);
   height:5px;
   opacity:0;
   background-color: var(--bg-color);
   top:50%;
   transform: translateY(-50%);
   transition: .3s;
}
.form_container span::before{
   left:50%;
}

.form_container span::after{
   right:50%;
}

.form_container.focus label{
   top:0;
   transform: translateY(-50%);
   left:25px;
   font-size: 1rem;
}
.form_container.focus span{
   /*color: var(--main-color);*/
}
.form_container.focus span::before,
.form_container.focus span:after{
   width:50%;
   color: var(--main-color);
   opacity:1;
}

/*footer*/
.footer{
   padding-top:2rem;
}
.footer_container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap:1.6rem;
}
.footer_sec{
   background-color: var(--second-bg-color);
   padding:3rem 0 3.5rem;
}
.ft_title{
   font-size: 3rem;
   margin-bottom: var(--mb-0-25);
}
.ft_subtitle{
   font-size: 1.25rem;
}
.ft_links{
   display: flex;
   justify-self:center;
   column-gap:2rem;
   font-size: 1.25rem;
   list-style-type: none;
}
.ft_links li{
   color: var(--main-color);
}
.ft_link:hover{
   color: var(--text-color)
}
.ft_social_contacts{
   justify-self: flex-end;
}
.ft_social_contact{
   font-size: 2.35rem;
   margin-right:var(--mb-1-5);
}
.ft_social_contact:hover{
   color:var(--text-color);
}
.ft_copy{
   font-size: .80rem;
   text-align: center;
   margin-top: 4.5rem;
}
.ft_title,
.ft_subtitle,
.ft_links,
.ft_social_contact{
   color:var(--main-color);
}
::-webkit-scrollbar{
   width: .60rem;
   background-color: var(--main-color);
   border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
   border-radius: .5rem;
}

@media screen and (max-width: 1216px) {
   .about-content{
      padding-right:0;
   }
   .project_container{
      grid-template-columns: repeat(2, 330px);
      gap:2.5rem;
   }
   
}
@media screen and (max-width: 1024px){
   .container{
      margin-left:var(--mb-1-5);
      margin-right:var(--mb-1-5);
   }
   .about-content{
      padding: 0 4rem;
      text-align:center;
   }
   .project_card{
      padding: 1rem;
   }
   .project_img{
      margin-bottom:var(--mb-0-75);
   }
   .project_title{
      margin-bottom: var(--mb-0-25);
   }
   .project_item-details{
      margin-bottom: 1.35rem;
   }
   .details_info li{
      margin-bottom: .35rem;
   }
   .details_title{
      margin-bottom: .73rem;
   }
}
@media screen and (max-width:768px){
   .project_container{
      grid-template-columns: 330px;
   }

   .project_container{
      grid-template-columns: 330px;
   }
   .contact_container{
      grid-template-columns: 360px;
      row-gap: 3rem;
   }

   .project_popup-inner{
      width:420px;
      padding:2.8rem 1.3rem 2.2rem;
   }
   .project_popup-content{
      grid-template-columns: 1fr;
      row-gap:1.6rem;
   }
   .details_title{
      font-size: .97rem;
   }
   .project_popup-close{
      top:.6rem;
   }
  
}


@media screen and (max-width:576px){
   .contact_container,
   .project_container{
      grid-template-columns: 300px;
  }

}

@media screen and (max-width:350px){
   .container{
      margin-left: 1.01rem;
      margin-right: 1.0rem;
   }
   .contact_container,
   .project_container{
      grid-template-columns: 1.01fr;
   }
   .project_item{
      font-size: 773rem;
   }

   .project_filters{
      column-gap: .23rem;
   }
}

/*experience*/
@media screen and (max-width: 1216px) {
   .experience{
      font-size: 55%;
   }
  
}
@media screen and (max-width: 991px) {
   #experience{
      padding:10rem 4% 2rem;
   }
}
@media screen and (max-width: 768px) {
   
   /*#experience{
      padding:10rem 4% 2rem;
   }*/
}
@media screen and (max-width: 520px) {
   /*.experience{
      font-size: 50%;
   }*/
   
}
@media screen and (max-width: 463px) {
   .experience_title{
      font-size: 2rem;
   }
   .experience{
      padding:10rem 4% 5rem 5%;
   }
}

@media screen and (max-width: 371px) {

}

/*navbar*/
@media (max-width: 995px) {
   #menu-icon{
      display: block;
   }

   .navigation {
      position:absolute;
      top:100%;
      right: 0;
      width: 40%;
      padding: 1rem 3%;
      border-left: 3px soild var(--main-color);
      border-bottom: 3px soild var(--main-color);
      border-bottom-left-radius: 2rem;
      border-top: 0.1rem solid rgba(200, 220, 200, 1);
      background-color: var(--second-bg-color);
      display: none;
   }
   .navigation.active{
      display: block;
   }
   .navigation a{
      display:block;
      font-size: 2rem;
      margin: 3rem 0;
   }
   .navigation a:hover,
   .navigation a.active{
      padding: 1rem;
      border-radius: 0.5rem;
      border-bottom: 0.5rem solid var(--main-color)
   }
}
@media (max-width: 768px) {
   .header-container {
      flex-direction: column;
   }

   .navigation ul {
      flex-direction: column;
      align-items: center;
   }

   .navigation ul li {
      margin: 10px 0;
   }
}
@media screen and (max-width:600px) {
   .skills .container{
      margin: 0;
      padding: 0;
   }
   .skills .container .row{
      grid-template-columns: repeat(2, 1fr);
      margin: 1rem;
      padding: 2rem 0.2rem 2rem 0.2rem;
      gap: 1rem;
   }
   .skills .container{
      margin-top: 5px;
      width:100%;
   }
}
@media (max-width:1000px){
   .home{
      gap: 4rem;
   }
}
@media (max-width:995px){
   .home{
      flex-direction: column;
      margin: 5rem 4rem;
   }
   .home .home-content h3{
      font-size: 2.5rem;
   }
   .home-content h1 {
      font-size: 5rem;
   }
   .home-img img{
      width: 70vw;
      margin-top: 4rem;
   }
}
/*Services*/
@media (max-width: 991px){
   section{
      padding: 10rem 3% 2rem;
   }
   .services{
      padding-bottom: 7rem;
   }
 }
 @media (max-width:895px){
   .services h2{
      margin-bottom: 3rem;
   }
   .services-container{
      grid-template-columns: repeat(1, 1fr);
   }
 }
 @media(max-width:895px){
   .about-content h2{
      font-size: 2.2rem;
   }
   .about-content p {
      max-width: 600px;
      margin: 0 auto;
   }
   .about-img img{
      width: 56 vw;
      margin-top: -2rem;
   }
 }
@media screen and (max-width:768px){
   .footer_container{
      grid-template-columns: repeat(2,1fr);
      row-gap: 3rem;
      justify-items: center;
   }
   .ft_socials_contact{
      justify-self: center;
   }
   .ft_links{
      flex-direction: column;
      row-gap: 1.5rem;
   }
   .footer_sec{
      padding: 2rem 0 3rem;
   }
   .ft_copy{
      margin-top: 3rem;
   }
}
@media screen and (max-width:576px){
  .footer_header{
   display: grid;
   justify-content: center;
   align-items: center;
  }
  .footer_container{
      justify-content: center;
      align-items: center;
      grid-template-columns:.9fr;
  }

  .ft_social_contacts{
      justify-self: center;
   }
  .ft_link{
      justify-self: flex-start;
  }
  .ft_subtitle{
      justify-self: center;
  }
}
/**
@media(max-width:895px){
   .about-content h2{
      font-size: 2.2rem;
   }
   .about-content p {
      max-width: 600px;
      margin: 0 auto;
   }
   .about-img img{
      width: 56 vw;
      margin-top: -2rem;
   }
 }
   
/*Screen Sizes
/* Screen For Bigger Devices 
@media screen and (max-width: 1407px) {
   .container{
      margin-left:var(--mb-2-5);
      margin-right:var(--mb-2-5);
   }
}

@media screen and (max-width: 1216px) {
   .about-content{
      padding-right:0;
   }
   .project_container{
      grid-template-columns: repeat(2, 330px);
      gap:2.5rem;
   }
   
}
@media screen and (max-width: 1024px){
   .container{
      margin-left:var(--mb-1-5);
      margin-right:var(--mb-1-5);
   }
   .about-content{
      padding: 0 4rem;
      text-align:center;
   }
   .project_card{
      padding: 1rem;
   }
   .project_img{
      margin-bottom:var(--mb-0-75);
   }
   .project_title{
      margin-bottom: var(--mb-0-25);
   }
   .project_item-details{
      margin-bottom: 1.35rem;
   }
   .details_info li{
      margin-bottom: .35rem;
   }
   .details_title{
      margin-bottom: .73rem;
   }
}
@media screen and (max-width:768px){
   .project_container{
      grid-template-columns: 330px;
   }

   .project_container{
      grid-template-columns: 330px;
   }
   .contact_container{
      grid-template-columns: 360px;
      row-gap: 3rem;
   }
   .footer_container{
      grid-template-columns: repeat(2,1fr);
      row-gap: 3rem;
      justify-items: center;
   }
   .ft_socials_contact{
      justify-self: center;
   }
   .ft_links{
      flex-direction: column;
      row-gap: 1.5rem;
   }
   .footer_sec{
      padding: 2rem 0 3rem;
   }
   .ft_copy{
      margin-top: 3rem;
   }
   .project_popup-inner{
      width:420px;
      padding:2.8rem 1.3rem 2.2rem;
   }
   .project_popup-content{
      grid-template-columns: 1fr;
      row-gap:1.6rem;
   }
   .details_title{
      font-size: .97rem;
   }
   .project_popup-close{
      top:.6rem;
   }
  
}


@media screen and (max-width:576px){
   .contact_container,
   .project_container{
      grid-template-columns: 300px;
  }
  .footer_container{
      grid-template-columns:.9fr;
  }
  .ft_link{
      justify-self: flex-start;
  }
}

@media screen and (max-width:350px){
   .container{
      margin-left: 1.01rem;
      margin-right: 1.0rem;
   }
   .contact_container,
   .project_container{
      grid-template-columns: 1.01fr;
   }
   .project_item{
      font-size: 773rem;
   }

   .project_filters{
      column-gap: .23rem;
   }
}

/*experience
@media screen and (max-width: 1216px) {
   .experience{
      font-size: 55%;
   }
  
}
@media screen and (max-width: 991px) {
   #experience{
      padding:10rem 4% 2rem;
   }
}
@media screen and (max-width: 768px) {
   #experience{
      padding:10rem 4% 2rem;
   }
}
@media screen and (max-width: 520px) {
   .experience{
      font-size: 50%;
   }
}
@media screen and (max-width: 463px) {
   .experience{
      padding:10rem 4% 5rem 5%;
   }
}

@media screen and (max-width: 371px) {

}

/*navbar
@media (max-width: 995px) {
   #menu-icon{
      flex-direction: column;
   }

   .navbar {
      flex-direction: column;
      align-items: center;
      top:100%;
      right: 0;
      width: 40%;
      padding: 1rem 3%;
      border-left: 3px soild var(--main-color);
      border-bottom: 3px soild var(--main-color);
      border-bottom-left-radius: 2rem;
      border-top: 0.1rem solid rgba(200, 220, 200, 1);
      background-color: var(--second-bg-color);
      display: none;
   }
   .navbar.active{
      display: block;
   }
   .navbar a{
      display:block;
      font-size: 2rem;
      margin: 3rem 0;
   }
   .navbar a:hover,
   .navbar a.active{
      padding: 1rem;
      border-radius: 0.5rem;
      border-bottom: 0.5rem solid var(--main-color)
   }
}
@media (max-width: 768px) {
   .header-container {
      flex-direction: column;
   }

   .navigation ul {
      flex-direction: column;
      align-items: center;
   }

   .navigation ul li {
      margin: 10px 0;
   }
}

/*main section

@media (max-width:995px){
   .home{
      flex-direction: column;
      margin: 5rem 4rem;
   }
   .home .home-content h3{
      font-size: 2.5rem;
   }
   .home-content h1 {
      font-size: 5rem;
   }
   .home-img img{
      width: 70vw;
      margin-top: 4rem;
   }
}

/*Services
@media (max-width: 991px){
   section{
      padding: 10rem 3% 2rem;
   }
   .services{
      padding-bottom: 7rem;
   }
 }
 @media (max-width:895px){
   .services h2{
      margin-bottom: 3rem;
   }
   .services-container{
      grid-template-columns: repeat(1, 1fr);
   }
 }

/*Skills
 @media screen and (max-width:600px) {
   .skills .container{
      margin: 0;
      padding: 0;
   }
   .skills .container .row{
      grid-template-columns: repeat(2, 1fr);
      margin: 1rem;
      padding: 2rem 0.2rem 2rem 0.2rem;
      gap: 1rem;
   }
   .skills .container{
      margin-top: 5px;
      width:100%;
   }
 }*/